* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #af0;
    font-size: 56px;
    /* Como a regra de baixo vem depois, ela sobrescreve essa regra de cima baseada em pixels. */
    font-size: 6.6rem;
    font-weight: bold;
    font-family: 'Playwrite PT', serif, cursive;
    text-align: center;
}

h2 {
    color: #f0f;
    font-size: 2.8rem;
    font-weight: bold;
    font-style: oblique;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
    text-indent: 100px;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-size: 2.8rem;
    color:blue
}

a:visited {
    color:blueviolet;
}

a:hover {
    color: greenyellow;
}

table, td, th {
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

/* A pseudo-classe first-child pega o primeiro elemento dentro de uma tag */
table thead tr:first-child {
    background-color: indianred;
    color: white
}

table tr:nth-child(2n + 1) {
    background-color: darkgrey;
}

table {
    font-size: 2.4rem;
    border-collapse: collapse;
}

ul, ol {
    padding-left: 40rem;
    font-size: 2.4rem;
}

ul {
    list-style: circle;
}

ol {
    list-style: decimal-leading-zero;
}

.boxes {
    position:
}

/* A caixa é um elemento que por padrão tem a propriedade display-block. Isso faz com que não seja possível colocar nada ao ladso, ou seja, na mesma linha. Para fazer isso, utilizar a propriedade inline-block */
.box {
    height: 10rem;
    width: 20rem;
    margin: 0.5rem;
    padding: 2.5rem;
    background-color: aliceblue;
    color: blue;
    border: 6px solid cornflowerblue;
    display: inline-block;
    border-radius: 1.5rem;
    position: relative;
}

.box:nth-child(1) {
    position: absolute;
}

.box:nth-child(n + 2) {
    display: none;
}

img {
    height: 20rem;
    width: 10rem;
    display: inline-block;
    object-fit: cover;
}

.bg {
    height: 100px;
    width: 100vw;
    background-color:darkslategray;
    background-image: url('https://images.unsplash.com/photo-1711352759621-120905957245?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}